// @import 'https://at.alicdn.com/t/c/font_4762589_6t2w0h8dfnd.css';
@import './static/iconfont/iconfont.css';

body {
  line-height: initial;
}

input {
  height: 100% !important;
}

.taro_router > .taro_page {
  background-color: $bg-color !important;
}

